{% extends 'layout.html.twig' %}

{% block title "404 - Error" %}

{% block body %}
    <!--================ Start 404 Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-right">
                    <h1>Oops Erreur !</h1>
                    <div class="page_link">
                        <a href="{{ path('site.home') }}">Accueil</a>
                        <a href="{{ path('site.contact') }}">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End 404 Banner Area =================-->
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>404 - Page non trouvée</h2>
            <p>La page que vous cherchez n'existe pas, a changé ou est temporairement indisponible.</p>
            <a href="{{ path('site.home') }}">Retour Accueil</a>
        </div>
    </div>
{% endblock %}
