{% extends 'layout.html.twig' %}

{% block body %}

    <!--================Home Banner Area =================-->
    {% if flash('success') %}
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="alert-success">
                    {{ flash('success') }}
                </div>
            </div>
        </div>
    {% endif %}
    <section class="banner-area owl-carousel" id="home">
        <div class="single_slide_banner slide_bg1">
            <div class="container">
                <div class="row fullscreen d-flex align-items-center">
                    <div class="banner-content col-lg-12 justify-content-center">
                        <h1>Adrien PIERRARD</h1>
                        <h3>Développeur d'Application Web PHP / Symfony</h3>
                        <a href="../download/CV_PIERRARD_ADRIEN.pdf" class="primary-btn" target="_blank">
                            Voir CV
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================ Start Portfolio Area =================-->

    {% include('block/projectGallery.html.twig') %}

    <!--================ End Portfolio Area =================-->

    <!--================ Start About Area =================-->
    <section class="about-area section_gap gray-bg">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5 about-left">
                    <img class="img-fluid" src="img/about-img.png" alt="A propos de moi">
                </div>
                <div class="col-lg-6 col-md-12 about-right">
                    <div class="main-title text-left">
                        <h1>À propos de moi</h1>
                    </div>
                    <div class="mb-50 wow fadeIn" id="about-me" data-wow-duration=".8s">
                        <p>
                            Fort de dix années accomplies au sein des industries de santé en tant qu'Ingénieur en
                            Management par la Qualité et Réglementations, j'ai fait le choix de remettre en question
                            mon parcours professionnel pour apporter plus de réalisations concrètes à mon quotidien
                            de travail.
                        </p>
                        <p>
                            Passionné d'informatique et faisant preuve d'aisance dans l'appréhension des
                            langages de programmation, ce fut donc une évidence pour moi de faire tendre ma carrière
                            vers le développement d'applications et plus particulièrement liées au Web.
                        </p>
                        <p>
                            Autodidacte, j'ai donc entrepris une formation complète en autonomie pour devenir Développeur
                            d'Application Web PHP / Symfony. Ce site CV, réalisé dans le cadre de ma formation, est
                            l'opportunité idéale pour vous présenter concrètement mes compétences acquises.<br>
                            Visitez mon blog pour en savoir plus sur mon parcours et n'hésitez pas à
                            <a href="{{ path('site.contact') }}">me contacter</a> pour plus de renseignements.
                        </p>
                    </div>
                    <a href="{{ path('blog.home') }}" class="primary-btn">Visitez mon Blog</a>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Area =================-->

    <!--================ Start Testimonial Area =================-->
    <div class="section_gap testimonial_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-left">
                    <div class="active_testimonial owl-carousel" data-slider-id="1">
                        <!-- single testimonial -->
                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src="img/quote.png" alt="">
                                <h4>Yann LUCAS</h4>
                                <h3>Lead Developer – IAD International</h3>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>Pour avoir encouragé Adrien à se lancer dans sa reconversion professionnelle et
                                    l'avoir accompagné tout au long de celle-ci, je peux vous dire qu'Adrien est une
                                    personne motivée ! Il a su appréhender rapidement beaucoup de notions tout en
                                    respectant son code et ses projets. Son ambition est de poursuivre cet
                                    apprentissage au quotidien pour s'améliorer en tant que développeur.
                                </p>
                            </div>
                        </div>

                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src="img/quote.png" alt="">
                                <h4>Rui TEIXEIRA</h4>
                                <h3>Lead Dev R&D – Webedia / AlloCiné</h3>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>Ça a été un plaisir de suivre Adrien pendant sa formation car c'est quelqu'un de
                                    curieux, rigoureux et autonome. De plus, il possède la principale qualité que
                                    tout développeur doit avoir : la persévérance. J'ai aussi été impressionné par sa
                                    capacité d'adaptation à des langages, technologies et à un métier qui lui étaient
                                    complètement inconnus il y a quelques mois encore. S'il y avait un poste à pourvoir
                                    dans ma société pour un junior backend/symfony je recommanderais fortement
                                    le profil d'Adrien.
                                </p>
                            </div>
                        </div>

                        <div class="single_testimonial">
                            <div class="testimonial_head">
                                <img src="img/quote.png" alt="">
                                <h4>Annie BEAUGET</h4>
                                <h3>Project Lead – MSD CHIBRET</h3>
                                <div class="review">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="testimonial_content">
                                <p>Adrien shows all competencies that might be of interest for a leading company: highly
                                    educational background, strong exposure to various fields of what makes a business
                                    [...], strong results in every project conducted, strong relationship and leadership,
                                    autonomy, strong client of customer service, hard worker. Devoted and strongly
                                    engaged to work.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1"></div>
            </div>
        </div>
    </div>
    <!--================ End Testimonial Area =================-->

{% endblock %}
