{% extends 'layout.html.twig' %}

{% block title "Adrien PIERRARD - Festi'Films Plein Air" %}

{% block body %}

    <!--================ Start portfolio Banner Area =================-->
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-right">
                    <h1>Festi'Films Plein Air</h1>
                    <div class="page_link">
                        <a href="{{ path('site.home') }}">Accueil Site</a>
                        <a href="{{ path('site.portfolio') }}">Réalisations</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Portfolio Banner Area =================-->

    <!--================ Start Portfolio Details Area =================-->
    <section class="portfolio_details_area section_gap">
        <div class="container">
            <div class="portfolio_details_inner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left_img">
                            <img class="img-fluid" src="../img/works/project2.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio_right_text mt-30">
                            <h4>Projet : Festival des Films de Plein Air</h4>
                            <p>Ce projet s'est inscrit dans le cadre de mon parcours de formation pour devenir
                                Développeur d'Application Web PHP / Symfony. L'objectif était d'analyser les besoins
                                client pour son festival de films en établissant le cahier des charges contenant les
                                spécifications détaillées. Il fallait également réaliser le prototype du site.</p>
                            <ul class="list">
                                <li><span>Réalisation</span>: Dec. 2019 / Janv. 2020</li>
                                <li><span>Catégorie</span>: Projet de formation OCR</li>
                                <li>
                                    <span>Compétences</span>:
                                    <i class="fab fa-html5"></i> /
                                    <i class="fab fa-css3"></i> /
                                    <i class="fab fa-bootstrap"></i>
                                </li>
                                <li><span>Méthodologie</span>: Projet Séquentiel / Agile</li>
                                <li>
                                    <span>Documents</span>:
                                    <a href="../download/CDC_Specifications_Tech_Festifilms.pdf" target="_blank">
                                        <i class="fas fa-file-pdf"></i> Cahier Des Charges
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="portfolio_right_btn col-xl-8 offset-xl-2 col-md-12 mt-25">
                                <a href="https://festifilms-pleinair.adrien-pierrard.fr"
                                   class="primary-btn" target="_blank">
                                    Voir site
                                </a>
                                <a href="../download/project2_eval.pdf"
                                   class="primary-btn" target="_blank">
                                    Voir évaluation
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Attentes du projet</h4>
                <p>L'organisatrice du festival des Films de Plein Air ambitionne de sélectionner et de projeter des
                    films d'auteur du 5 au 8 août, de 18 heures à minuit, au parc Monceau à Paris. Son association
                    vient juste d'être créée et elle dispose d'un budget limité. Elle a besoin :<br>
                    - D'une charte graphique<br>
                    - De communiquer en ligne sur son festival (présentation et actualités)<br>
                    - D'annoncer la programmation des films projetés<br>
                    - De recueillir les réservations via un système de pré-inscription.<br>
                    Elle nous demande de lister les fonctionnalités techniques correspondantes et de proposer une
                    solution technique adaptée. En sélectionnant la solution la plus à même de répondre à ses attentes
                    elle soit voir une première version du site (prototype).
                </p>
            </div>
        </div>
    </section>
    <!--================ Start Portfolio Details Area =================-->

{% endblock %}
